---
import { useTranslations } from "@/i18n";
import config from "@/config/config";

const t = useTranslations();
const { header } = config.navigation;
const { logo, siteTitle } = header;
---

<a href="/" class="flex items-center space-x-3">
    {
        logo.visible && (
            <img
                src={logo.src}
                alt={logo.alt}
                class:list={[`h-${logo.height}`, `w-${logo.width}`]}
            />
        )
    }
    {
        siteTitle.visible && (
            <span class="header-site-title">{t("siteMetadata.title")}</span>
        )
    }
</a>
