---
import { config } from "@/config/config";

const { navItems } = config.navigation.header;
---

<nav class="flex flex-col md:flex-row md:space-x-6">
    {
        navItems.links.map((link) => (
            <a
                href={link.href}
                class="header-nav-item transition duration-150 ease-in-out tracking-wider"
            >
                {link.text}
            </a>
        ))
    }
</nav>
