---
import { useTranslations } from "@/i18n";
import BaseLayout from "@/layouts/BaseLayout.astro";

const t = useTranslations();

const metaProps = {
    siteName: t("siteMetadata.title"),
    pageTitle: t("pages.about.title"),
    pageDescription: t("pages.about.description"),
    pageUrl: t("siteMetadata.url") + "about",
};
---

<BaseLayout {...metaProps}>
    <div class="container mx-auto">
        <div class="max-w-3xl">
            <h1 class="text-2xl md:text-3xl font-bold text-blue-600 mb-6">
                {metaProps.pageTitle}
            </h1>
            <p class="text-xl text-gray-700 mb-8">
                {metaProps.pageDescription}
            </p>
        </div>
    </div>
</BaseLayout>
