---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Find a licensed and verified local real estate appraiser</h2>
    <p>
        Find an appraiser for estate planning, property tax appeal, divorce,
        investment property, private sale or any number of other appraisal
        purposes. Whether you're looking for an Appraisal Institute designated
        commercial appraiser (MAI) or residential appraiser (SRA), an ASFMRA
        accredited rural appraiser (ARA), FHA appraiser or other independent
        licensed appraiser, FindAnAppraiser.com helps you locate the right local
        appraiser for your unique valuation needs.
    </p>
</BaseLayout>
