---
import { useTranslations } from "../i18n";
import BaseLayout from "../layouts/BaseLayout.astro";

const t = useTranslations();

const metaProps = {
    siteName: t("siteMetadata.title"),
    pageTitle: t("pages.about.title"),
    pageDescription: t("pages.about.description"),
    pageUrl: t("siteMetadata.url") + "about",
};
---

<BaseLayout {...metaProps}>
    <h2>{metaProps.pageDescription}</h2>
    <p>
        More detail about this {metaProps.siteName}
    </p>
</BaseLayout>
