---
import BaseLayout from "../layouts/BaseLayout.astro";

const metaProps = {
    pageTitle: "About",
    pageDescription: "About this site",
    pageUrl: "https://website.com/about",
    siteName: "website.com",
};
---

<BaseLayout {...metaProps}>
    <h2>{metaProps.pageDescription}</h2>
    <p>
        More detail about this {metaProps.siteName}
    </p>
</BaseLayout>
