---
import { useTranslations } from "../i18n";
import BaseLayout from "../layouts/BaseLayout.astro";

const t = useTranslations();

const metaProps = {
	siteName: t("siteMetadata.title"),
	pageTitle: t("pages.home.title"),
	pageDescription: t("pages.home.description"),
	pageUrl: t("siteMetadata.url"),
};
---

<BaseLayout {...metaProps}>
	<h2>{metaProps.pageDescription}</h2>
</BaseLayout>
