---
import BaseLayout from "../layouts/BaseLayout.astro";

const metaProps = {
	pageTitle: "Home Page",
	pageDescription: "This is the the homepage",
	pageUrl: "https://website.com",
	siteName: "website.com",
};
---

<BaseLayout {...metaProps}>
	<h2>{metaProps.pageDescription}</h2>
</BaseLayout>
