---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { useTranslations } from "@/i18n";
import ServiceCard from "@/components/services/ServiceCard.astro";
import type { Service } from "@/components/services/ServiceCard.astro";

const t = useTranslations();

const metaProps = {
    siteName: t("siteMetadata.title"),
    pageTitle: t("pages.services.title"),
    pageDescription: t("pages.services.description"),
    pageUrl: t("siteMetadata.url") + "/services",
};

const response = await fetch("https://fakestoreapi.com/products?limit=9");
const services: Service[] = await response.json();
---

<BaseLayout {...metaProps}>
    <div class="relative overflow-hidden bg-secondary-200">
        <div class="px-4 py-8 mx-auto max-w-7xl sm:px-6 lg:py-12 lg:px-8">
            <div class="lg:text-center">
                <h2
                    class="text-base font-semibold tracking-wide uppercase text-primary-600"
                >
                    {t("pages.services.subtitle")}
                </h2>
                <p
                    class="mt-2 text-4xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-5xl"
                >
                    {t("pages.services.title")}
                </p>
                <p class="max-w-2xl mt-4 text-xl text-gray-600 lg:mx-auto">
                    {t("pages.services.description")}
                </p>
            </div>

            <div class="mt-10">
                <div
                    class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3"
                >
                    {
                        services.map((service) => (
                            <ServiceCard service={service} />
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
