---
import Navigation from "@/components/header/Navigation.astro";
import Logo from "@/components/header/Logo.astro";
import { getCurrentThemeAttributes } from "@/scripts/themeConfig";

const { header } = getCurrentThemeAttributes();

const headerStyle =
    header.style === "gradient"
        ? "bg-gradient-to-r from-primary-500 to-secondary-600"
        : "bg-primary-500";
---

<header
    x-data="{ mobileMenuOpen: false }"
    class:list={[headerStyle, "shadow-lg"]}
>
    <div class="container px-4 py-4 mx-auto">
        <nav class="flex items-center justify-between">
            <Logo />

            <div class="hidden md:block">
                <Navigation />
            </div>

            <div class="md:hidden">
                <button
                    @click="mobileMenuOpen = !mobileMenuOpen"
                    class="text-gray-50"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>
        </nav>
    </div>

    <div
        x-show="mobileMenuOpen"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0 max-h-0"
        x-transition:enter-end="opacity-100 max-h-[400px]"
        x-transition:leave="transition ease-in duration-300"
        x-transition:leave-start="opacity-100 max-h-[400px]"
        x-transition:leave-end="opacity-0 max-h-0"
        class:list={[headerStyle, "w-full md:hidden overflow-hidden"]}
        style="transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);"
    >
        <div class="container px-4 py-2 mx-auto">
            <Navigation />
        </div>
    </div>
</header>
