---
import { config } from "@/config/config";
import { getCurrentThemeAttributes } from "@/scripts/themeConfig";
import { navTextClass } from "@/scripts/themeUtils";

const navItems = config.navigation.header.items;
const { header } = getCurrentThemeAttributes();
const NavTextClass = navTextClass(header.navigation.text.class);
---

<nav class="flex flex-col md:flex-row md:space-x-6">
    {
        navItems.map((item) => (
            <a href={item.href} class={NavTextClass}>
                {item.text}
            </a>
        ))
    }
</nav>
