---
import { config } from "@/config/config";
import { getCurrentThemeAttributes } from "@/scripts/themeConfig";

const navItems = config.navigation.header.items;
const { header } = getCurrentThemeAttributes();
---

<nav class="flex flex-col md:flex-row md:space-x-6">
    {
        navItems.map((item) => (
            <a
                href={item.href}
                class="py-2 text-sm font-medium tracking-wider uppercase transition duration-150 ease-in-out text-header-text hover:text-header-text-hover md:py-0"
            >
                {item.text}
            </a>
        ))
    }
</nav>
