---
import { config } from "@/config/config";

const { navItems } = config.navigation.header;
---

<nav class="flex flex-col md:flex-row md:space-x-6">
    {
        navItems.items.map((item) => (
            <a
                href={item.href}
                class:list={[
                    "transition duration-150 ease-in-out",
                    "tracking-wider",

                    navItems.style.spacing,
                    navItems.style.fontSize,
                    navItems.style.fontWeight,
                    navItems.style.textTransform,
                    navItems.style.textColor,
                    navItems.style.hoverColor,
                ]}
            >
                {item.text}
            </a>
        ))
    }
</nav>
