---
import { useTranslations } from "@/i18n";
import { config } from "@/config/config";

const footerLinks = config.navigation.footer.items;
const currentYear = new Date().getFullYear();
const t = useTranslations();
---

<footer class="mt-auto text-gray-300 bg-gray-900">
    <div class="container px-4 py-6 mx-auto">
        <div class="flex flex-col items-center justify-between md:flex-row">
            <div class="mb-4 md:mb-0">
                <p class="text-sm">
                    &copy; {currentYear}
                    {t("siteMetadata.title")}. All rights reserved.
                </p>
            </div>

            <div class="flex space-x-4">
                {
                    footerLinks.map((link) => (
                        <a
                            href={link.href}
                            class="text-sm transition duration-150 hover:text-gray-50"
                        >
                            {link.text}
                        </a>
                    ))
                }
            </div>
        </div>
    </div>
</footer>
