---
import MobileMenu from "./MobileMenu.astro";
import Navigation from "./Navigation.astro";
import { useTranslations } from "@/i18n";

const t = useTranslations();

import { getCurrentThemeAttributes } from "@/scripts/themeConfig";

const config = getCurrentThemeAttributes();

const headerStyle =
    config?.colors?.headerStyle === "gradient"
        ? `bg-gradient-to-r from-header-from to-header-to`
        : `bg-header-solid`;
---

<header class:list={[headerStyle, "text-white shadow-lg"]}>
    <div class="container mx-auto px-4 py-4">
        <nav class="flex justify-between items-center">
            <a
                href="/"
                class="flex items-center space-x-3 hover:opacity-80 transition duration-150"
            >
                <img src="/logo.svg" alt="Logo" class="h-8 w-auto" />
                <span class="text-2xl font-bold">{t("siteMetadata.title")}</span
                >
            </a>

            <div class="hidden md:block">
                <Navigation />
            </div>

            <div class="md:hidden">
                <MobileMenu />
            </div>
        </nav>
    </div>

    <div id="mobile-menu" class:list={[headerStyle, "w-full md:hidden hidden"]}>
        <div class="container mx-auto px-4 py-2">
            <Navigation />
        </div>
    </div>
</header>

<script>
    document.addEventListener("astro:page-load", () => {
        const mobileMenuToggle = document.querySelector(".mobile-menu-toggle");
        const mobileMenu = document.getElementById("mobile-menu");

        if (mobileMenuToggle && mobileMenu) {
            mobileMenuToggle.addEventListener("click", () => {
                mobileMenu.classList.toggle("hidden");
            });
        }
    });
</script>

<style>
    .expanded {
        display: block;
    }
</style>
