---
import { config } from "@/config/config";
const navItems = config.navigation.header.items;
---

<nav class="flex flex-col md:flex-row md:space-x-6">
    {
        navItems.map((item) => (
            <a
                href={item.href}
                class="text-white hover:text-blue-200 transition duration-150 ease-in-out font-medium text-sm uppercase tracking-wider py-2 md:py-0"
            >
                {item.text}
            </a>
        ))
    }
</nav>
