---
export interface Props {
    currentPage: number;
    lastPage: number;
    prevUrl?: string;
    nextUrl?: string;
}

const { currentPage, lastPage, prevUrl, nextUrl } = Astro.props;
---

<div class="flex items-center justify-between mt-8">
    {
        prevUrl && (
            <a
                href={prevUrl}
                class="font-medium text-primary-600 hover:text-primary-800"
            >
                &larr; Previous
            </a>
        )
    }
    <span class="text-neutral-700">
        Page {currentPage} of {lastPage}
    </span>
    {
        nextUrl && (
            <a
                href={nextUrl}
                class="font-medium text-primary-600 hover:text-primary-800"
            >
                Next &rarr;
            </a>
        )
    }
</div>
