---
interface Props {
    tags: string[];
    baseUrl?: string;
}

const { tags, baseUrl = "/blog/tags/" } = Astro.props;
---

<div class="flex flex-wrap gap-2 mb-4">
    {
        tags.map((tag: string) => (
            <a
                href={`${baseUrl}${tag}`}
                class="px-3 py-1 text-gray-700 transition bg-gray-200 rounded hover:bg-primary-500 hover:text-gray-50"
            >
                {tag}
            </a>
        ))
    }
</div>
