---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PostCard from "@/components/PostCard.astro";
import { useTranslations } from "@/i18n";
import type { MarkdownInstance } from "astro";

const t = useTranslations();

interface Frontmatter {
    tags: string[];
    title: string;
}

export async function getStaticPaths() {
    const allPosts: MarkdownInstance<Frontmatter>[] =
        await Astro.glob<MarkdownInstance<Frontmatter>>("../*.md");

    const uniqueTags: string[] = [
        ...new Set(allPosts.flatMap((post) => post.frontmatter.tags)),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) =>
            post.frontmatter.tags.includes(tag),
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params as { tag: string };
const { posts } = Astro.props as { posts: MarkdownInstance<Frontmatter>[] };

const metaProps = {
    siteName: t("siteMetadata.title"),
    pageTitle: `Blog Post Tagged ${tag}`,
    pageDescription: `These are blog posts tagged ${tag}`,
    pageUrl: t("siteMetadata.url") + "/tags/" + tag,
};
---

<BaseLayout {...metaProps}>
    <p>Posts tagged with {tag}</p>
    <ul>
        {posts.map((post) => <PostCard {post} />)}
    </ul>
</BaseLayout>
