---
import { getCollection, type CollectionEntry } from "astro:content";
import { useTranslations } from "@/i18n";
import BaseLayout from "@/layouts/BaseLayout.astro";
import TagList from "@/components/blog/TagList.astro";

const allPosts: CollectionEntry<"blog">[] = await getCollection("blog");
const tags: string[] = [
    ...new Set(
        allPosts.flatMap((post: CollectionEntry<"blog">) => post.data.tags),
    ),
];
const t = useTranslations();

const metaProps = {
    siteName: t("siteMetadata.title"),
    pageTitle: t("pages.tags.title"),
    pageDescription: t("pages.tags.description"),
    pageUrl: t("siteMetadata.url") + "/tags",
};
---

<BaseLayout {...metaProps}>
    <div class="max-w-7xl mx-auto">
        <h1 class="text-4xl font-bold text-neutral-900 mb-4">
            {metaProps.pageTitle}
        </h1>
        <TagList tags={tags} />
    </div>
</BaseLayout>
